<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PythonForDumbs </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <script type="text/javascript">
        SCRIPT_ROOT = {
            {
                request.script_root | tojson | safe
            }
        };
    </script>
    <script src="../static/index.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark tab">
        <a class="navbar-brand" href="">Боярские списки XVIII века</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
					<a class="nav-link" href="/publications">Публикации <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/about">О сайте <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/help">FAQ <span class="sr-only">(current)</span></a>
				</li>
			</ul>
            <!-- <p class="my-2 my-lg-0 text">Привет, Алишер</p> -->
        </div>
    </nav>
    <!-- ТУТ НАЧИНАЕТСЯ САЙТ -->
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-6 col-md-8 col-xl" style="padding-bottom:5em;">
                <div class="row justify-content-center">
                    <h3>
                        Археографические правила и принципы работы

                        информационной полнотекстовой системы

                        «Боярские списки XVIII века»
                    </h3>
                </div>
                <div class="row pt-4">
                    <h4>1. ОСНОВНЫЕ ПОНЯТИЯ, ПРИНЯТЫЕ В ИПС «БОЯРСКИЕ СПИСКИ XVIII века»</h4>
                    <p>
                        <span class="text-strong">База данных</span> – упорядоченная совокупность записей, сохраняемая в
                        реляционных таблицах. ИПС имеет
                        шесть таблиц: «Архивные фонды», «Датировка и заглавие боярских списков», «Рубрики боярских
                        списков», «Московские чины», «Пометы и примечания», «Словник имен».
                    </p>
                    <p>
                        <span class="text-strong">Именная формула аутентичная</span> – принятая в базе данных, запись
                        личного имени, отчества и фамилии
                        персоналии с учетом титула, идентичная написанию именной формулы в рукописи. Именная формула в
                        начале XVIII века могла состоять от двух до восьми элементов: титул, имя, именное прозвище
                        («Меньшои», «Середнеи», «Большои»), отчество или полуотчество со словом «сын» или полуочество со
                        словами «княж» и «сын», фамилия (в одно слово или двойная).
                    </p>
                    <p>
                        <span class="text-strong">ИПС</span> – сокращенное именование информационной
                        (информационно-поисковой) полнотекстовой системы
                        «Боярские списки XVIII в.», которая представляет собой единство работающих в сети Интернет (в
                        режиме клиент-сервер) базы данных, программы поисковых запросов (cgi-скрипт), СУБД Sqlite3 и
                        вспомогательных научных материалов (исследовательских статей, правил публикации, фотофрагментов
                        источников и т. п.). Автономной частью ИПС, установленной на локальном компьютере разработчика
                        является программа ввода и редактирования базы данных.
                    </p>
                    <p>
                        <span class="text-strong">Именная формула современная</span> – запись личного имени, отчества и
                        фамилии персоналии с учетом
                        титула, принятая в базе данных в современной орфографии.

                    </p>
                    <p>
                        <span class="text-strong">Заголовки рубрик</span> – названия учетных рубрик.
                    </p>
                    <p>
                        <span class="text-strong">Запись (для таблицы)</span> – строка или ее фрагмент в соответствующем
                        поле.
                    </p>
                    <p>
                        <span class="text-strong">Персоналия</span> – служивший по «московскому списку» (обладатель
                        московского чина) человек, а также его именная формула.
                    </p>
                    <p>
                        <span class="text-strong">Помета</span> – надписи, знаки на полях или у строк именной формулы,
                        сделанные писцом, для учета чиновно-служебного и физического статуса персоналий или для
                        делопроизводственных задач.
                    </p>
                    <p>
                        <span class="text-strong">Примечания археографические</span> – записи в поле «Примечания»,
                        поясняющие корректное прочтение текста рукописи в полях «Именная формула», «Пометы», «Количество
                        дворов».
                    </p>
                    <p>
                        <span class="text-strong">Учетные рубрики</span> (основные-главные, частные, специальные) – в
                        боярских списках это выделенные
                        заголовками разнообразные перечни служилых людей с целью учета их чиновного и служебного
                        статуса. Основные (главные) рубрики соответствуют современному названию групп московских чинов
                        (думные и ближние люди, дворяне основного списка и т. д.), в частных рубриках перечни московских
                        чинов дифференцированы по служебному статусу (отставные, в начальных людях, служащие в полках и
                        т. д.), специальные рубрики раскрывают более дробно главные или частные рубрики и объединяют
                        служилых людей одного чина или учетно-служебного статуса (бояре, окольничие, дворяне в Низовом
                        полку, жильцы с 1700 г. и т. д.)
                    </p>
                </div>
                <div class="row pt-4">
                    <h3>2. РЕЖИМЫ ПРОСМОТРА РУКОПИСЕЙ И ПОИСКА ИНФОРМАЦИИ</h3>
                    <p>
                        2.1. Поиск персональных сведений по людях московских чинов из всех рукописей, опубликованных в
                        ИПС, возможен c помощью формы ввода на главной странице сайта. Поиск осуществляется по следующим
                        критериям: Именная формула современная, Учетные рубрики, Чины.
                    </p>
                </div>
                <div class="row pt-4">
                    <h3>3. СТРУКТУРА ПОЛНОТЕКСТОВОГО ОТОБРАЖЕНИЯ ИСТОЧНИКА (В ТАБЛИЦЕ БАЗЫ ДАННЫХ)</h3>
                    <p>
                        3.1. Порядок следования рубрик, заголовков и других строк текста таблицы по направлению
                        сверху-вниз строго задается структурой рукописи. Исключения оговариваются в поле "Примечания".
                        <br>
                        3.2. Текст рукописи в таблице базы данных и постраничные примечания передаются в строках
                        светло-кремового цвета. Текст построчных примечаний, строк пагинации листов и контекстных строк
                        – светло-зеленым цветом. Шапки таблиц полнотекстового изображения – желто-зеленым цветом.
                        <br>
                        3.3. Порядок следования текста в строках рукописи слева направо и расположение помет рукописи на
                        полях листа в базе данных не учитываются. Исключения: наличие нескольких помет у именной формулы
                        и записи помет в рукописи вне уровня именной формулы (см. п. 3.9.7–3.9.8).
                        <br>
                        3.4. Заголовки крупных рубрик передаются в соответствии с аутентичной орфографией рукописи в
                        поле «Заголовки/Пометы» и согласно расположению заголовков в тексте рукописи В таблице для
                        идентификации заголовков рубрик или постраничных примечаний ставится условный знак «[-]» в поле
                        «Именные формулы» на соответствующей строке таблицы.
                        <br>
                        3.5. Названия малочисленных перечней (чиновных рубрик или перечней новопожалованных) передаются
                        в соответствии с аутентичной орфографией рукописи и расположены в поле «Заголовки/Пометы» в
                        одной строке с первой именной формулой данного перечня. Начало названия перечня в данном случае
                        выделяется одним знаком «^».
                        <br>
                        3.6. Фрагменты текста, которые по смыслу не вписываются в имеющиеся поля таблицы (например,
                        подсчеты персоналий или отдельные символы на листах документа, смысл которых не связан с учетом
                        службы какой-либо персоналии) отображаются внизу страницы в поле «Заголовки/Пометы» с указанием
                        местонахождения данного фрагмента текста в рукописи.
                        <br>
                        3.7. Сведения о листах, незаполненных текстом, о вариантах пагинации листов XVIII–XIX вв., о
                        дьяческих скрепах отображаются в палеографическом описании рукописей. Пустые («порожние») листы,
                        содержащие какие-либо аутентичные пометы, передаются в таблице аналогично заголовкам крупных
                        рубрик (см. п. 3.4).
                    </p>
                    <p class="text-strong">
                        3.8. Поле «Именная формула» и именной указатель
                    </p>
                    <p>
                        3.8.1. Именной указатель содержит только варианты написания личных имен и отчеств, производных
                        от имен в современной орфографии. Трансформации написания фамилий в течение второй половины
                        XVIII–XX вв. в указателе имен практически не учитываются.
                        <br>
                        3.8.2. Написания аутентичных именных формул в табличном поле «Именная формула» для большинства
                        персоналий, кроме жильцов и лиц, умерших в 1700–1705 гг., воспроизводятся по боярскому списку
                        1706 г. Именные формулы жильцов и лиц, умерших в 1700–1705 гг., и персоналий, учетная рубрика
                        которых изменялась до и после 1706 г., воспроизводятся по наиболее ранней опубликованной
                        рукописи, впервые фиксирующей конкретную персоналию. Например, аутентичные именные формулы
                        жильцов воспроизводятся по боярскому списку 1712 г., впервые за XVIII в., включившему учет
                        жильцов. Исключения оговариваются в примечаниях.
                        <br>
                        3.8.3. Количество записей одной персоналии в указателе имен равно количеству различных учетных
                        рубрик, в которых упоминается данная персоналия. Например, имя Т.Н. Стрешнева зафиксировано в
                        именном указателе дважды, так как в 1700–1712 гг. он числился в перечне бояр, а в 1713 г. в
                        перечне сенаторов.
                        <br>
                        3.8.4. Ошибки писцов (исправленные и неисправленные ими), разночтения и реконструкция элементов
                        именных формул передаются в поле «Примечания» в табличной строке, соответствующей именной
                        формулы (п. 3.11.7–3.11.9).
                    </p>
                    <p class="text-strong">
                        3.9. Поле «Заголовки/Пометы».
                    </p>
                    <p>
                        3.9.1. В поле воспроизводятся все пометы рукописи (за исключением дьяческих скреп и обозначения
                        целыми числами дворового владения), в том числе согласно п. 3.4–3.5 заголовки рубрик, названия
                        малочисленных перечней и постраничные примечания.
                        <br>
                        3.9.2. В поле фиксируются пометы: о статусе дворового владения («за отцом», «с братьями» и т.
                        п.); о дробном показателе дворового владения («с полу» (+0,5 двора), «пол» (—0,5 двора), «с
                        третью» (+0,33 двора)); о пустом дворе – «пусто/е»; о количестве земельного владения (в
                        «четях»);
                        <br>
                        3.9.3. Содержание пометы «тож» раскрывается в поле «Примечания».
                        <br>
                        3.9.4. Ошибки писцов в написании помет, затертые и исправленные писцом пометы, оговариваются в
                        поле «Примечания» (см. п. 3.11.3).
                        <br>
                        3.9.5. Зачеркнутые писцом пометы, выделяются круглыми скобками в поле «Заголовки/Пометы».
                        <br>
                        3.9.6. Реконструкции фрагментов помет, утраченных в результате механических (обрыв листа
                        рукописи) или химических (чернильное пятно) повреждений, отмечаются в квадратных скобках.
                        <br>
                        3.9.7. Для различия расположения рукописных помет на переплетном и обрезном поле листа в базе
                        данных используется символ «#». Помета, стоящая слева от символа, располагается на левом поле
                        страницы; помета, стоящая справа – на правом поле страницы.
                        <br>
                        3.9.8. Для различия расположения рукописных помет выше (ниже) уровня строки именной формулы в
                        базе данных используется символ «^». Помета или ее фрагмент, ограниченные слева и справа
                        символом «^» расположены ниже строки именной формулы; помета, ограниченная только слева символом
                        «^» – расположена выше уровня строки именной формулы.
                        <br>
                        3.9.9. Фрагмент пометы, не поддающийся прочтению, отмечается знаками вопроса, с указанием в виде
                        точек, примерного количества букв (см. «Список символов и сокращений»).
                    </p>
                    <p class="text-strong">
                        3.10. Поле «Количество дворов»
                    </p>
                    <p>
                        3.10.1. Поле содержит количественную характеристику дворового владения посредством натуральных
                        чисел в точном соответствии с рукописью.
                        <br>
                        3.10.2. Рукописные записи о дробной части, о «пустом» дворе и о статусе дворового владения
                        воспроизводятся в поле «Заголовки/Пометы» согласно п. 3.9.2.
                        <br>
                        3.10.3. Отсутствие записи о дворовом владении говорит или о пропуске учета дворов для какой-либо
                        чиновной группы или неосведомленность Разрядного приказа о дворовом владении конкретного
                        человека. (Записи в данном поле в большинстве случаев идентичны сведениям боярского списка
                        1698/1699 г.).
                    </p>
                    <p class="text-strong">
                        3.11. Поле «Примечания».
                    </p>
                    <p>
                        3.11.1. Поле предназначено для интерпретации и реконструкции помет (в том числе вторичных
                        помет), указания ошибок и исправлений писцов, учета разночтений и реконструкции именных формул.
                        <br>
                        3.11.2. Содержание пометы «тож» полностью раскрывается в квадратных скобках по содержанию
                        вышестоящей пометы и контексту всей страницы (листа) рукописи.
                        <br>
                        3.11.3. Все замеченные публикатором грамматические ошибки писца в написании помет обозначаются
                        под фразой «Ошибка писца» с указанием максимально вероятного варианта пометы под фразой «Должно
                        быть», который является реконструкцией.
                        <br>
                        3.11.4. Разночтения аутентичной именной формулы фиксируются под индексами, которые обозначают
                        номер элемента именной формулы при чтении слева направо. Например, запись в построчном
                        примечании «1. Левонтеи» обозначает, что первый элемент именной формулы «Леонтии», отображенный
                        в базе данных, в рукописи читается «Левонтеи».
                        <br>
                        3.11.5. Написание твердого знака «ъ» в конце элементов именных формул в качестве разночтения не
                        учитывается. Исключение: написание «ъ» учитывается в конце слов при разночтении других букв
                        именной формулы.
                        <br>
                        3.11.6. Разночтение двух и более элементов именной формулы обозначается цифрами через дефис
                        (1-2, 2-3, 1-3 и т.д.).
                        <br>
                        3.11.7. Ошибки, затертые и исправленные писцом элементы именной формулы рукописи, отмечаются под
                        номером элемента именной формулы. Например, напротив четвертого элемента именной формулы «Юрья
                        Иванов сынъ Кишкинъ» в построчном примечании записано «4. Исправлено из: Шишкинъ», что
                        обозначает: первоначально написанная фамилия «Шишкинъ» была исправлена писцом на «Кишкинъ».
                        <br>
                        3.11.8. Указание ошибочного элемента именной формулы, записанного писцом, обозначает аутентичную
                        запись рукописи. Например, запись в построчном примечании «2. Ошибка писца: Васильевъ» при
                        отчестве в аутентичной формуле «Антонъ Викуловъ сынъ Лысцовъ» обозначает, что отчество в
                        аутентичной формуле, является реконструкцией, а в рукописи записано «Васильевъ». В подобных
                        случаях следует указание выходных данных источника, на основании которого зафиксирована
                        реконструированная именная формула.
                        <br>
                        3.11.9. Реконструкция фрагмента именной формулы, утраченного в результате механического (обрыв
                        листа рукописи) или химического (чернильное пятно) повреждения рукописи, отмечается под номером
                        элемента именной формулы в квадратных скобках.
                    </p>
                </div>
                <div class="row pt-4">
                    <h3>4. ВОСПРОИЗВЕДЕНИЕ ОРФОГРАФИИ, ПУНКТУАЦИИ, СОКРАЩЕНИЙ РУКОПИСЕЙ В ТЕКСТЕ БАЗЫ ДАННЫХ </h3>
                    <p>
                        Сохраняются все стилистические и орфографические особенности рукописей, незамеченные писцом
                        ошибки, писцовые исправления ошибочных написаний (см. п. 3.11.3–3.11.5, 3.11.7–3.11.8). Деление
                        на слова и предложения, пунктуация произведены по современным нормам.
                        <br>
                        Текст рукописей передается буквами современного русского алфавита. Не используются буквы: «й»
                        (введена в 1735 г.) – пишется «и»; «ё» (утверждена в 1956 г.) – пишется «е». Буквы, вышедшие из
                        употребления, заменяются современными эквивалентами: «зело» и «земля» на «з», «i» на «и»,
                        «омега» на «о», «ять» на «е», «кси» на «кс», «фита» на «ф», «ижица» на «и».
                        <br>
                        Мягкий знак при вносе в строку выносных согласных букв пишется в следующих случаях: а) перед
                        гласными в строке с фонетической основой [j] («е», «ю», «я»,). Исключение составляет слово
                        «подячии», в котором на рубеже XVII–XVIII вв. в большинстве случаев «ь» не писался, б) после
                        выносных глухих согласных, в словах, при написании которых без выносных в других вариантах
                        рукописи употреблялся «ь». Спорные случаи оговариваются в археографических примечаниях.
                        <br>
                        Слова, сокращенные под титлом, раскрываются и не выделяются. Выносные буквы не выделяются,
                        вносятся в строку.
                        <br>
                        Имена собственные пишутся с прописной буквы. Дефис в сдвоенных именах собственных, как и в
                        рукописях не используется.
                        <br>
                        Буквенная кириллическая цифирь заменяется арабскими цифрами, употребление арабских цифр
                        оговаривается в построчных примечаниях.
                        <br>
                        Не воспроизводятся знаки рукописей: надстрочные, диакритические, препинания. Воспроизводится
                        знак рукописи «+», в тексте не выделяется кавычками.
                        <br>
                        Идеограммы сохраняются, в тексте не раскрываются, выделяются кавычками: «ч.» (человек), «д.»
                        (двор).
                        <br>
                        При воспроизведении текста рукописи, публикатором используются символы, раскрывающие
                        местоположение фрагментов помет: «#», «^» (см. п. 3.9.7–3.9.8).
                    </p>
                </div>
            </div>
            <!-- блок контент -->

        </div>
    </div>
    <footer id="footer" class="footer-bs footer navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-brand animated fadeInLeft">
                    <h2>Боярские списки XVIII века</h2>
                </div>

                <div class="col-md-2 footer-social animated fadeInDown">
                    <h4>Мы в соцсетях</h4>
                    <ul>
                        <li><a href="" target="_blank">ВКонтакте</a></li>
                        <li><a href="#">Telegram</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </footer>

</body>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>